<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center" id="i18_skills">
            <div class="navy-line"></div>
            <h1><span data-i18n="skills.my_skills">My Skills</span></h1>
        </div>
    </div>
    <div class="row features-block">
		<h2>Languages &amp; Frameworks</h2>
		<div class="row-align">
			<img class="img-responsive wrapper img-vsmall" src="/static/assets/img/skill/python.png">
			<img class="img-responsive wrapper img-vsmall" src="/static/assets/img/skill/tensorflow.png">
			<img class="img-responsive wrapper img-small" src="/static/assets/img/skill/html.png">
			<img class="img-responsive wrapper img-small" src="/static/assets/img/skill/node.png">
		</div>
		<!-- smaller row -->
		<div class="row-align">
			<img class="img-responsive wrapper img-vsmall" src="/static/assets/img/skill/java.png">
			<img class="img-responsive wrapper img-vsmall" src="/static/assets/img/skill/swift.png">
			<img class="img-responsive wrapper img-vsmall" src="/static/assets/img/skill/matlab.png">
			<img class="img-responsive wrapper img-vsmall" src="/static/assets/img/skill/c++.png">
			<img class="img-responsive wrapper img-vsmall" src="/static/assets/img/skill/mysql.png">
		</div>
		<h2>Applications &amp; Tools</h2>
	<div>
<div>
